@import "~bootswatch/dist/lumen/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/bootswatch";
@import "./fonts.scss";

html,
body {
  height: 100%;
  color: #222;
  background-color: #fafafa;
  font-size: 1rem;
}

// body {
//     padding-top: 0px !important;
// }

.navbar .logoText {
    border-left: 2px solid #EFEFEF;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-dark .logoText {
    border-left: 2px solid #302f2f;
}

#AuthenticatedHeader {
    margin-bottom: 20px;
}

.valid-feedback,
.invalid-feedback {
    display: block !important;
}

a.nav-link.active {
    color: #1f9bcf;
}

.form-login .logoText.inline,
.form-register .logoText.inline {
    border-top: none !important;
    border-left: 1px solid #c3c3c3;
    margin-top: 0 !important;
    margin-left: 10px;
}

.text-cursor-pointer {
    cursor: pointer;
}


.badge-purple {
    color: #fff;
    background-color: purple;
}

.is_online {
    color: green;
}
